# Configure this information for local testing, and then rename to `.env.`
MODPACK_TOML_PATH="../relative/or/absolute/path/to/pack.toml_file"
CF_API_KEY="unsure-if-this-is-needed_$keeping-for-testing"